:root[data-theme='light'] {
  --background: #ffffff;
  --text: #000000;
  --primary: #007bff;
}

:root[data-theme='dark'] {
  --background: #1a1a1a;
  --text: #ffffff;
  --primary: #66b0ff;
}

body {
  background-color: var(--background);
  color: var(--text);
}

* {
  transition: all linear 0.3s;
}
